@model SacramentPlannerMVC.Models.Meeting

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningPrayer" class="control-label"></label>
                <input asp-for="OpeningPrayer" class="form-control" />
                <span asp-validation-for="OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingPrayer" class="control-label"></label>
                <input asp-for="ClosingPrayer" class="form-control" />
                <span asp-validation-for="ClosingPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BishopricID" class="control-label"></label>
                <select asp-for="BishopricID" class="form-control" asp-items="ViewBag.BishopricID">
                    <option value="">-- Select Conductor --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="OpeningHymnID" class="control-label"></label>
                <select asp-for="OpeningHymnID" class="form-control" asp-items="ViewBag.OpeningHymnID">
                    <option value="">-- Select Opening Hymn --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SacramentHymnID" class="control-label"></label>
                <select asp-for="SacramentHymnID" class="form-control" asp-items="ViewBag.SacramentHymnID">
                    <option value="">-- Select Sacrament Hymn --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="IntermediateHymnID" class="control-label"></label>
                <select asp-for="IntermediateHymnID" class="form-control" asp-items="ViewBag.IntermediateHymnID">
                    <option value="">-- Select Intermediate Hymn --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ClosingHymnID" class="control-label"></label>
                <select asp-for="ClosingHymnID" class="form-control" asp-items="ViewBag.ClosingHymnID">
                    <option value="">-- Select Closing Hymn --</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSpeakerModal">
            Add Speaker
        </button>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="addSpeakerModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Speaker</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="loader" id="addSpeaker_loader"></div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Person</label>
                            <input type="text" />
                        </div>
                        <div class="form-group">
                            <label>Topic</label>
                            <input type="text" />
                        </div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" value="Create" class="btn btn-success" onclick="createSpeaker()">Create </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
